* {
	box-sizing: border-box;
	font-family: helvetica;
}

html {
	background-color: #EAEAEA;
}

body > header {
	color: white;
	border: 4px solid black;
	padding: .5em;
	margin: .1em;
	background-color: #3D3D3E;
	text-align: center;
	border-radius: 20px;
	font-size: 1.2rem;
}

header img {
	width: 400px
}

nav > ul > li {
	display: inline-block;
	border: 4px solid blue;
	padding: .5em;
	margin: .1em;
	background-color: #CECECE;
	-webkit-transition: background-color 2s, -webkit-transform 2s;
    transition: background-color 2s, transform 2s;
}

nav > ul > li:hover {
    background-color: ##9675E1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

body > section {
	display: flex;
	flex-wrap: wrap;
}

body > section > article {
	font-size: 1.1rem;
	color: #E18527;
	width: 19.5%;
	border: 2px solid black;
	padding: .5em;
	margin: .1em;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888;
}

body > section > h2 {
	flex-basis: 100%;
	flex-wrap: wrap;
}

body > main > article {
	margin: 0 20em 0 20em;
}

aside {
	clear: both;
	display: flex;
}

aside > section {
	color: #9675E1;
	width: 49%;
	border: 2px solid black;
	margin: .1em;
	padding: .5em;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888;
}

footer {
	clear: both;
	display: flex;
}


footer > section {
	width: 17.5em;
	border: 2px solid black;
	padding: .5em;
	margin: .1em;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888;
}

a[href="#"] {
	font-family: Verdana, sans-serif;
	color: green;
}

footer > section > h2 ~ p {
	color: deeppink;
}

/*@media screen and (max-width: 1650px) {
	
	body > section {
	margin-left: 0em;
	}

}*/

@media screen and (max-width: 1500px) {

	body > main > article {
	margin: 0 5em 0 5em;
	}

}

@media screen and (max-width: 1150px) {

	body > header {
		font-size: 0.85rem;
	}

	body > section {
		display: block;
	}

	body > section > article {
	font-size: 1rem;
	display: block;
	float: none;
	width: 100%;
	}

	aside > section {
	display: block;
	float: none;
	width: 100%;
	}

	footer {
		display: block;
	}

	footer > section {
		width: 100%;
	}

}

@media screen and (max-width: 750px) {

	body > header > h1 {
		font-size: 1.1rem;
	}
	
	body > main > article {
	margin: 0 1em 0 1em;
	}

	nav > ul > li {
		display: block;
	}

	header > img  {
		width: 70%;
	}

	section > img {
		width: 100%;
	}

	aside {
		display: block;
	}

	aside > section {
		width: 100%;
	}

}
	
